.container {
  width: 80%;
  margin: 0 auto;
}

.artcontainer {
  display: flex;
  justify-content: flex-end;
}

.art_left {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.art_right {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .art_left {
    margin-top: 20rem;
    margin-bottom: 5rem;
  }

  .art_right {
    margin-top: 5rem;
    margin-bottom: 20rem;
  }
}
