.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery_image {
  width: 20%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery_image:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.lightbox-slide {
  max-width: 90%;
  max-height: 80%;
}

.lightbox-close-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
