.progressbarcontainer {
  width: 100%;
  height: 20px;
  background-color: #212121;
  border-radius: 2rem;
}

.progressbarbackground {
  width: 100%;
  height: 20px;
  border-radius: 2rem;
  overflow: hidden;
}

.progressbarfill {
  height: 100%;
  background-color: #f8a54c;
  transition: width 0.3s ease-in-out;
  border-radius: 0rem 2rem 2rem 0rem;
}
